<div class="contnt">
    <% form_tag({:action => "add"}) do -%>
    <h1>Add or remove <%=params[:enrollment]%>.</h1>
    <h2>For section: <%= @section.course_id %></h2>
    <p>To add <%=params[:enrollment]%> enter in a portal id.</p>
    <%= text_field_tag "user_id" %>
	<%= hidden_field_tag "source_id", params[:source_id] %>
	<%= hidden_field_tag "enrollment", params[:enrollment] %>
	<%= hidden_field_tag "id", params[:id] %>
    <%= submit_tag "Add" %>
    <%= submit_tag "Cancel" %>
    <br/>
    <% end -%>

    <%= @res %>
    <div id="guest_table">
    <hr/>
    <h2>Remove <%= params[:enrollment]%></h2>
	<% form_tag({:action => "remove"}) do -%>
	<%= hidden_field_tag "source_id", params[:source_id] %>
	<%= hidden_field_tag "id", params[:id] %>
	<%= hidden_field_tag "enrollment", params[:enrollment] %>
    <table class="output sortable">
        <thead>
            <tr>
            	<th id="check_th" class="sorttable_nosort">
            		<%= check_box_tag('check_all', 'check_all', false, :onClick =>
                                          "$$('input.check').each(function(box){
                                           box.checked=(box.checked==false)?true:false});") %>
	  	</th>
                <th id="full_name">
                    Name
                </th>
		<th id="user_id">
 	  	    Portal ID
		</th>
                <th id="email">
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <% @section_roles.each do |section_role|%>
            <tr>
            	<td class="check_box">
                    <%= check_box_tag 'rm_guest[]', section_role.pk1, false, :class => "check" %>
                </td>
                <td>
                    <%= section_role.user.firstname + " " + section_role.user.lastname %>
                </td>
                <td>
                    <%= section_role.user.user_id %>
                </td>
                <td>
                    <%= section_role.user.email %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
	<%= submit_tag "Remove" %>
	<%= submit_tag "Cancel" %>
	<% end -%>
</div>

