<h1>Listing Self Service Roles</h1>
<h3>If a role also exists in the Learn database it will be marked "true"</h2>
<table class="output sortable">
  <tr>
    <th>Name</th>
    <th>Blackboard Learn</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @service_roles.each do |service_role| %>
  <tr>
    <td><%=h service_role.name %></td>
    <td><%=h service_role.blackboard_check%></td>
    <td><%= link_to 'Show', service_role %></td>
    <td><%= link_to 'Edit', edit_service_role_path(service_role) %></td>
    <td><%= link_to 'Destroy', service_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Self Service Role', new_service_role_path %>