<h1>Listing Self Service Roles</h1>
<h3>If a role also exists in the Learn database it will be marked "true"</h2>
<table class="output sortable">
  <tr>
    <th>Name</th>
    <th>Blackboard Learn</th>
    <th>Delete</th>
  </tr>

<% @service_roles.each do |service_role| %>
  <tr>
    <td><%=h service_role.name %></td>
    <td><%=h service_role.blackboard_check%></td>
    <% link_to 'Show', service_role %>
    <% link_to 'Edit', edit_service_role_path(service_role) %>
    <td><%=link_to 'Delete', service_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h2>Institution Roles that have not been imported to the self service tool</h2>
<table class="output sortable">
  <tr>
    <th>Name</th>
    <th>Role ID</th>
    <th>Import</th>
  </tr>

<% @non_service_roles.each do |i_role| %>
  <tr>
    <td><%=h i_role.role_name %></td>
    <td><%=h i_role.role_id%></td>
    <td><%=link_to 'Import', :controller => :service_role, :action => :import%></td>
  </tr>
<% end %>
</table>
<br />

<% link_to 'New Self Service Role', new_service_role_path %>