<div class="contnt">
    <% form_tag({:action => "add"}) do -%>
      <b>Enter a user's Portal ID to add them as a <%=params[:enrollment]%>.</b><br/>
	<span style="font-weight:bold; font-size:x-large;"><%= "Section: "+@section.course_id %></span><br/>
    <%= text_field_tag "user_id" %>
	<%= hidden_field_tag "source_id", params[:source_id] %>
	<%= hidden_field_tag "enrollment", params[:enrollment] %>
	<%= hidden_field_tag "id", params[:id] %>
    <%= submit_tag "Add" %>
	<%= submit_tag "Cancel" %>
	<br/>
	<%= @role%>
	<%= check_box_tag 'instructor_check_box', 'add_instructor' %>
	<div id="instructor_check_text">
		<% if @ferpa_text.nil? %>
			Check this box to add this person as an instructor as well as a designer.
			<br/>
			By checking the box, you agree that this person should be allowed to see
			<br/>
			student information protected by FERPA. This includes student grades, enrollments
			<br/>
			and all other information viewable by instructors in Vista.
		<% else %>
			<%= @ferpa_text.to_s %>
		<% end %>
	</div>
    <% end -%>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<%= @res %>
	<div id="guest_table">
	<hr/>
    <b>Remove Guest Designers / Instructors</b>
	<% form_tag({:action => "remove"}) do -%>
	<%= hidden_field_tag "source_id", params[:source_id] %>
	<%= hidden_field_tag "id", params[:id] %>
	<%= hidden_field_tag "enrollment", params[:enrollment] %>
    <table class="output sortable">
        <thead>
            <tr>
            	<th id="check_th" class="sorttable_nosort">
            		<%= check_box_tag('check_all', 'check_all', false, :onClick =>
                "$$('input.check').each(function(box){
      box.checked=(box.checked==false)?true:false});") %>
	  			</th>
                <th id="full_name">
                    Name
                </th>
				<th id="user_id">
					Portal ID
				</th>
                <th id="email">
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <% @section_roles.each do |section_role|%>
            <tr>
            	<td class="check_box">
                    <%= check_box_tag 'rm_guest[]', section_role.pk1, false, :class => "check" %>
                </td>
                <td>
                    <%= section_role.user.firstname + " " + section_role.user.lastname %>
                </td>
                <td>
                    <%= section_role.user.user_id %>
                </td>
                <td>
                    <%= section_role.user.email %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
	<%= submit_tag "Remove" %>
	<%= submit_tag "Cancel" %>
	<% end -%>
</div>

