<div class="contnt">
    <b>Hide/Show Sections</b>
    <br/>
    To hide current Vista sections that you will not be using (labs, etc) from all faculty
    <br/>
    and students, click the row of the section you wish to hide.  For instructions
    <br/>
    on how to hide any section only on your personal My Vista page click 
	<a href="https://wiki.csuchico.edu/confluence/x/eA6k" target="_blank">here</a>.
    <br/>
	<% unless (params[:short_name].nil?) %>
		Tried to hide/show: <%= params[:short_name] %>
	<% end %>
    <br/>
    <table class="output clickable sortable">
        <thead>
            <tr>
                <th id="hidden_th" class="sorttable_nosort">
                    Hidden?
                </th>
                <th id="term">
                    Term
                </th>
                <th id="sect_name">
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
        	<% link_url = url_for(:action => "hide_show") %>
            <% @sections.each do |section| %>
            <tr onClick="window.location='<%= link_url %>?source_id=<%= section.section_id %>'">
                <td>
                    <% unless (section.term_id == "hidden-term") %>
						Visible
					<% else %>
						Hidden
					<% end %>
                </td>
                <td>
                    <%= section.term_name %>
                </td>
                <td>
                    <%= section.short_name %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
