<div class="contnt">
   <b>You are working on <%= params[:sso_id] %>'s sections.</b><br/>
   <% form_tag(:action => "login", :method=> "post") do %>
   <%= hidden_field_tag 'sso_id', params[:sso_id] %>

   <br/>Section:
   <table class="output sorttable">
     <tr>
       <th id="check_th"></th>
	   <th id="sect_name">Section ID</th>
     </tr>
     <% @sections.each do |s| %>
       <% if s.row_status == 0 %>
       <tr>
         <td><%= radio_button_tag "section", s.course_id %></td>
         <td><%= s.course_name %></td>
       </tr>
       <% end %>
     <% end %>
   </table>

   <br/>Role:
   <% if user_is_allowed? :controller => 'sso', :action => 'admin'%>
     <br/><%= radio_button_tag "mode", "admin" %><%= params[:sso_id] %>
   <% end %>
   <% if user_is_allowed? :controller => 'sso', :action => 'designer'%>
     <br/><%= radio_button_tag "mode", "designer" %>Designer
   <% end %>
   <% if user_is_allowed? :controller => 'sso', :action => 'student'%>
     <br/><%= radio_button_tag "mode", "student" %>Student
   <% end %>  
	 
   <br/><br/>
   <%= submit_tag "Submit" %>
   <%= submit_tag "Cancel" %>
   <% end %>
</div>
