<div class="contnt">
    <b>You are working on <%= params[:portal_id] %>'s sections.</b>
    <br/>
    Please select the term, section and role to log into.
    <br/>
    <% form_tag(:action => "sections", :method=> "post") do %>
    <%= hidden_field_tag 'portal_id', params[:portal_id] %>
    <select id="term" name="term_sel">
        <% for term in @terms %>
        <% if (term.term_id == @selected_term.term_id) %>
        <option value='<%=term.term_id%>' selected><%= term.description %></option>
        <% else %>
        <option value='<%=term.term_id%>'><%= term.description %></option>
        <% end # if term %>
        <% end # for term %>
    </select>
    <%= submit_tag "Get Sections" %>
    <% end # form_tag %>
    <% form_tag(:action => "vista_login", :method=> "post") do %>
    <%= hidden_field_tag 'portal_id', params[:portal_id] %>
    <br/>
    Sections:
    <table class="output sorttable">
        <tr>
            <th id="check_th">
            </th>
            <th id="term">
                Term
            </th>
            <th id="sect_name">
                Section ID
            </th>
        </tr>
        <% for section in @sections %>
        <tr>
            <td>
                <%= radio_button_tag "section", section.section_id %>
            </td>
            <td>
                <%= section.term_name %>
            </td>
            <td>
                <%= section.short_name %>
            </td>
        </tr>
        <% end # for section %>
    </table>
    <br/>
    Role:<% if ([:super, :admin].include?(session[:role])) %>
    <br/>
    <%= radio_button_tag "role", "spoof" %><%= params[:portal_id] %>
    <% end %>
    <% if [:super, :admin, :tlp, :tlp_admin, :mlib].include?(session[:role]) %>
    <br/>
    <%= radio_button_tag "role", "designer" %>Designer<% end %>
    <% if [:super, :admin, :tlp, :tlp_admin, :itss].include?(session[:role]) %>
    <br/>
    <%= radio_button_tag "role", "student" %>Student<% end %>
    <br/>
    <br/>
    <%= submit_tag "Submit" %>
    <%= submit_tag "Cancel" %>
    <% end # form_tag %>
</div>
