<div class="contnt">
	<p><h1> You are logging into Vista! </h1></p>
		<script type="text/javascript">
			function submit_form () {
				var form = document.getElementById("sso");
				form.submit();
			}
			window.onload = submit_form;
		</script>
	
		<!--
		<p><h3> Section: <%= @section %></h3> </p>
		<p><h3> Username: <%= @username %></h3></p>
    	<p><h3> LCID: <%= @lcid %>
		<p><h3> Checksum: <%= @checksum %></h3></p>
		<p><h3> View myWebCTurl: <%= @vista_url %></h3></he></p>
		-->
		

		<form name="sso" id="sso" method="post" action="<%= @vista_url %>">
			<input name="username" type="hidden" id="username" value="<%= @username %>" >
			<input name="section" type="hidden" id="section" value="<%= @section %>" >
			<input name="checksum" type="hidden" id="checksum" value="<%= @checksum %>" >
			<input name="lcid" type="hidden" id="lcid" value="<%= @lcid %>" >
		</form>
</div>