<div class="contnt">
  <h1>Listing roles <%= @institution_roles.role_name %></h1>
    <% form_tag({:controller => "institution_role", :action => "user_index"}) do %>
    Find roles for user: <%= text_field_tag :user_id%>
    <%= submit_tag "Find Roles" %>
    <% end %>
    <%= link_to "Learn Certifified", :controller => "institution_role", :action => "index", :role => "lrncrt" %> |
    <%= link_to "Administrator", :controller => "institution_role", :action => "index", :role => "admin" %> |
    <%= link_to "ITSS", :controller => "institution_role", :action => "index", :role => "itss" %> |
    <%= link_to "MLIB Staff", :controller => "institution_role", :action => "index", :role => "mlib" %> |
    <%= link_to "TLP", :controller => "institution_role", :action => "index", :role => "tlp" %> |
    <%= link_to "TLP Admin", :controller => "institution_role", :action => "index", :role => "tlp_admin" %>
    <table class="output sortable">
        <tr>
            <th id="user_id">
                Portal
            </th>
            <th id="first">
                First name
            </th>
            <th id="last">
                Last name
            </th>
            <th id="role">
                Role
            </th>
			<th id="modify" colspan="2" class="sorttable_nosort">
				Modify
			</th>
        </tr>
        <% @institution_roles.user_roles.each do |ur| %>
        <tr>
            <td>
                <%= ur.user.user_id %>
            </td>
            <td>
                <%= ur.user.firstname %>
            </td>
            <td>
                <%= ur.user.lastname %>
            </td>
            <td>
                <%= link_to 'Edit', url_for(:action=>"index", :role => params[:role]) %>
            </td>
            <td>
                <%= link_to 'Delete', url_for(:action=>"index", :role => params[:role], :confirm => 'Are you sure?') %>
            </td>
        </tr>
        <% end %>
    </table>
    <br/>
    <%= link_to 'New role', url_for(:action=>"index", :role => params[:role]) %>
</div>

