<div class="contnt">
    <h1>Listing roles</h1>
    <table class="output sortable">
        <tr>
            <th id="user_id">
                Portal
            </th>
            <th id="first">
                First name
            </th>
            <th id="last">
                Last name
            </th>
            <th id="role">
                Role
            </th>
			<th id="modify" colspan="2" class="sorttable_nosort">
				Modify
			</th>
        </tr>
        <% @institution_roles.each do |role| %>
        <tr>
            <td>
                <%= role.user.user_id %>
            </td>
            <td>
                <%= role.user.firstname %>
            </td>
            <td>
                <%= role.user.lastname %>
            </td>
            <td>
                <%= role.institution_role.role_id %>
            </td>
            <td>
                <%= link_to 'Edit', url_for(:action=>"edit_role", :user_id=>role.user.user_id) %>
            </td>
            <td>
                <%= link_to 'Delete', url_for(:action=>"delete", :user_id => role.user.user_id), :confirm => 'Are you sure?' %>
            </td>
        </tr>
        <% end %>
    </table>
    <br/>
    <%= link_to 'New role', url_for(:action=>"new") %>
</div>
