<div class="contnt">
	<%= javascript_include_tag "field_watch.js" %>
    <h2>WARNING</h2>
    <span class="del_span">YOU ARE ABOUT TO PERMANENTLY DELETE</span>
    <br/>
    <span class="del_span">THE CONTENT FROM THE FOLLOWING SECTION.</span>
    <br/>
    <br/>
    <%= params[:source_id] %>
    <br/>
	<br/>
    Please confirm that you wish to delete
    <br/>
    these prep areas by typing 'delete' all
    <br/>
    in lower case below.
    <br/>
	<br/>
	NOTE: This process may take some time, please be patient.
    <br/>
    <% form_tag(:action => "exec" ) do -%>
    <%= label_tag "del_confirm_field", "Confirm:" %>
    <%= text_field_tag "del_confirm_field", "", :onchange => "check_field(this.value);", :onkeyup => "check_field(this.value);" %>
	<%= hidden_field_tag "source_id", params[:source_id] %>
    <%= submit_tag "Confirm", :id => "confirm_btn", :disabled => true %>
	<%= submit_tag "Cancel" %>
    <% end %>
</div>
