<div class="contnt">
	<% form_tag({:action => "reset"}) do -%> 
    <%= hidden_field_tag 'section_id', @section.course_id%>
    <%= hidden_field_tag 'course_id', @model.course_id%>
	
	<u>
		<h1>
			<font color="red">
				Warning!!!
			</font>
		</h1>
	</u>

	<h3>
		You are about to remodel
		<br />
		<br />
		Course:
		<font color="green">
			<%= @section.course_name %>
		</font>
	<h3>
	with
	<h3>
		Model:  
		<font color="green">
			<%= @model.friendly_name %>
		</font>
	<h3>
	
	<br />
	
	Please confirm your action by typing in
	<font color="red">
		remodel
	</font>
	and then click Remodel.
	
	<br />
	<%
		@section = @section
	%>
	<%= text_field_tag :check %>
	
	<%= submit_tag "Remodel", :disable_with => "Please wait..." %>
	
	<% end -%>
	<br />
	<br />
	<%= button_to "Cancel", :back %>    
</h3>

</div>
