<div class="contnt">
<h1>Enable Courses for Blackboard Learn</h1>
<p>Select one or more courses you wish to teach using Bb Learn, and click the "Enable" button below. The Vista course will be automatically hidden when the Bb Learn course is enabled, for all users.  Once your Bb Learn course is enabled, you can copy content into it from a Prep Area using <a href="https://wiki.csuchico.edu/confluence/x/wgsJAw">these instructions</a>. If you need assistance, please <a href="http://www.csuchico.edu/tlp/">contact TLP</a>.</p>
  <%if session[:user_object].admin?%>
    <h6>Admin may also disable a course in Learn.</h2>
  <%end%>
	<% form_tag({:action => "enable_disable"}) do -%>  
    <table class="output sortable">
        <thead>
          <tr>
          	<th id="check_th" class="sorttable_nosort">
          </th>
            <th id="course_id">
              Course Name
            </th>
            <th>
              Availability
            </th>    
          </tr>
        </thead>
        <tbody>
            <% @sections.each do |s|%>
            <tr>
            	<td class="check_box">
              <%if s.row_status == 2%>
                <%= radio_button_tag :section_id, s.pk1, false, :class => "check" %>
              <%elsif session[:user_object].admin?%>
                <%= radio_button_tag :section_id, s.pk1, false, :class => "check" %>
              <%end%>
              </td>
              <td>
                <%= s.course_name%>
              </td>
              <td>
              <%if s.row_status == 0%>
                In Learn
              <%else%>
                In Vista
              <%end%>
              </td>           
            </tr>
            <% end %>
        </tbody>
      </table>
    <%if session[:user_object].admin?%>
      <%= submit_tag "Enable/Disable" %>
    <%else%>
	    <%= submit_tag "Enable" %>
    <%end%>
	<% end -%>    
</div>

