<div class="contnt">
  <h1>Enable Courses For Learn</h1>
  <h2>Choose a course to enable in Learn.</h2>
  <%if session[:user_object].admin?%>
    <h2>Admin may also disable a course in Learn.</h2>
  <%end%>
	<% form_tag({:action => "enable_disable"}) do -%>  
    <table class="output sortable">
        <thead>
          <tr>
          	<th id="check_th" class="sorttable_nosort">
          </th>
            <th id="course_id">
              Course Name
            </th>
            <th>
              Availability
            </th>    
          </tr>
        </thead>
        <tbody>
            <% @sections.each do |s|%>
            <tr>
            	<td class="check_box">
              <%if s.row_status == 2%>
                <%= radio_button_tag :section_id, s.pk1, false, :class => "check" %>
              <%elsif session[:user_object].admin?%>
                <%= radio_button_tag :section_id, s.pk1, false, :class => "check" %>
              <%end%>
              </td>
              <td>
                <%= s.course_name%>
              </td>
              <td>
              <%if s.row_status == 0%>
                In Learn
              <%else%>
                In Vista
              <%end%>
              </td>           
            </tr>
            <% end %>
        </tbody>
      </table>
    <%if session[:user_object].admin?%>
      <%= submit_tag "Enable/Disable" %>
    <%else%>
	    <%= submit_tag "Enable" %>
    <%end%>
	<% end -%>    
</div>

