<div class="contnt">
    <% form_tag({:action => "add"}) do -%>
	<b>Enter a user's Portal ID to add them as a guest designer.</b><br/>
	<span style="font-weight:bold; font-size:x-large;"><%= "Section: "+@section.short_name %></span><br/>
    <%= text_field_tag "portal_id" %>
	<%= hidden_field_tag "source_id", params[:source_id] %>
    <%= submit_tag "Add" %>
	<%= submit_tag "Cancel" %>
    <br/>
	<%= check_box_tag 'instructor_check_box', 'add_instructor' %>
	<div id="instructor_check_text">
		<% if @ferpa_text.nil? %>
			Check this box to add this person as an instructor as well as a designer.
			<br/>
			By checking the box, you agree that this person should be allowed to see
			<br/>
			student information protected by FERPA. This includes student grades, enrollments
			<br/>
			and all other information viewable by instructors in Vista.
		<% else %>
			<%= @ferpa_text.to_s %>
		<% end %>
	</div>
    <% end -%>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<div id="guest_table">
	<hr/>
    <b>Remove Guest Designers / Instructors</b>
	<% form_tag(:action => "remove") do -%>
	<%= hidden_field_tag "source_id", params[:source_id] %>
    <table class="output sortable">
        <thead>
            <tr>
            	<th id="check_th" class="sorttable_nosort">
            		<%= check_box_tag('check_all', 'check_all', false, :onClick =>
                "$$('input.check').each(function(box){
      box.checked=(box.checked==false)?true:false});") %>
	  			</th>
                <th id="full_name">
                    Name
                </th>
				<th id="user_id">
					Portal ID
				</th>
                <th id="email">
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <% for designer in @designers %>
            <tr>
            	<td class="check_box">
                    <%= check_box_tag 'rm_guest[]', designer.webct_id, false, :class => "check" %>
                </td>
                <td>
                    <%= designer.first_name + " " + designer.last_name %>
                </td>
                <td>
                    <%= designer.webct_id %>
                </td>
                <td>
                    <%= designer.email %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
	<%= submit_tag "Remove" %>
	<%= submit_tag "Cancel" %>
	<% end -%>
	<%= @res %>
</div>