<div class="contnt">
    <b>This page is for tlp to edit the task bar css and main page html.</b>
    <br/>
    Each field is limited to 10,000 characters. Everything you enter will be rendered
    <br/>
    by EVERYONE who visits the site. Please test all your code prior to submitting it.
    <br/>
    Deleting everything in the css will cause it to default to a working css stored in the application.
    <br/>
    <div id="tlp_html_form">
        <b>Main Page HTML</b>
        <% form_tag({:action => 'main_html'}) do %>
        <% unless (@main_html.nil?) %>
        <textarea id="tlp_html" name="tlp_html"><%= @main_html.html %></textarea>
        <% else %>
        <textarea id="tlp_html" name="tlp_html"></textarea>
        <% end %>
        <br/>
        <%= submit_tag "Submit" %>
        <%= submit_tag "Cancel" %>
      <% end %>
    </div>
    <div id="tlp_css_form">
        <b>Main Page CSS</b>
        <% form_tag({:action => 'main_css'}) do %>
        <% unless (@main_css.nil?) %>
        <textarea id="tlp_css" name="tlp_css"><%= @main_css.html %></textarea>
        <% else %>
        <textarea id="tlp_css" name="tlp_css"></textarea>
        <% end %>
        <br/>
        <%= submit_tag "Submit" %>
        <%= submit_tag "Cancel" %>
        <% end %>
      </div>
    <div id="tlp_css_form2">
        <b>Task Bar CSS</b>
        <% form_tag({:action => 'task_css'}) do %>
        <% unless (@task_css.nil?) %>
        <textarea id="tlp_css" name="tlp_css"><%= @task_css.html %></textarea>
        <% else %>
        <textarea id="tlp_css" name="tlp_css"></textarea>
        <% end %>
        <br/>
        <%= submit_tag "Submit" %>
        <%= submit_tag "Cancel" %>
        <% end %>
      </div>
    <div id="tlp_designer_ferpa">
        <b>Designer's FERPA Message</b>
        <% form_tag({:action => 'ferpa'}) do %>
        <% unless (@ferpa_text.nil?) %>
        <textarea id="ferpa_text" name="ferpa_text"><%= @ferpa_text.html %></textarea>
        <% else %>
        <textarea id="ferpa_text" name="ferpa_text"></textarea>
        <% end %>
        <br/>
        <%= submit_tag "Submit" %>
        <%= submit_tag "Cancel" %>
        <% end %>
      </div>
</div>
