<div class="contnt">
	<b>Admin Crosslisting</b>
	<br/>
	<%= link_to "Search for more sections", :action => "search_form" %>
	<br/>
	<%= link_to "Clear workspace", :action => "clear_workspace" %>
	<hr/>
	<% unless (params[:response].nil?) %>
		Response: <%= params[:response] %>
	<% end # unless @res%>
	<br/>
	<% unless @parents.nil? or @parents.empty? %>
	<% for sect in @parents %>
	<% form_tag({:action => "section_mgmt"}) do %>
	<%= hidden_field_tag "sect_id", sect.section_id %>
	<%= hidden_field_tag "term_id", sect.term_id %>
    <table class="xlist_list">
        <thead>
            <tr>
                <th class="xlisting name" colspan="2">
                    <%= sect.short_name %>
					<br/>
					<% unless (sect.delivery_unit_type == "XLIST_MASTER") %>
						<%= submit_tag("Create", :class => "button", :style=>"float:left") %>
					<% else %>
						<%= submit_tag("Add", :class => "button", :style => "float:left") %>
						<%= submit_tag("Remove", :class => "button", :style => "float:left") %>
						<%= submit_tag("Delete", :class => "button", :style => "float:left") %>
						<%= submit_tag("Rename", :class => "button", :style => "float:left") %>
					<% end %>
                </th>
            </tr>
        </thead>
        <tbody>
            <% unless (@children[sect.section_id].nil?) %>
            <% for child in @children[sect.section_id] %>
            <tr>
                <td>
                    &#187;&#187;&#187;
                </td>
                <td>
                    Child ID: <%= child.section_id %>
                </td>
            </tr>
            <% end # for each future child %>
            <% end # unless section has no children %>
        </tbody>
    </table>
    <br/>
	<% end # form_tag %>
    <% end # for each future sections %>
	<% end %>
</div>