<div class="contnt">
	<b>Remove a section from the cross-list <%= params[:sect_id] %></b>
	<% form_tag({:action => "remove"}) do %>
	<%= hidden_field_tag "par_id", params[:sect_id] %>
		<table class="output sortable">
			<tr>
				<th id="check_th" class="sorttable_nosort">
            		<%= check_box_tag('check_all', 'check_all', false, :onClick =>
                "$$('input.check').each(function(box){
      box.checked=(box.checked==false)?true:false});") %>
	  			</th>
				<th id="sect_id" class="name">Section ID</th>
				<th id="sect_name" class="name">Section Name</th>
			</tr>
			<% for sect in @children %>
				<% unless (sect.section_id == params[:sect_id]) %>
				<tr>
					<td>
						<%= check_box_tag 'sect_id[]', sect.section_id, false, :class => "check" %>
					</td>
					<td>
						<%= sect.section_id %>
					</td>
					<td>
						<%= sect.short_name %>
					</td>
				</tr>
				<% end # unless sect.section_id = :sect_id %>
			<% end # for sect in @sections %>
		</table>
		<%= submit_tag "Submit" %>
		<%= submit_tag "Cancel" %>
    <% end %>
</div>