<div class="contnt">
    <b>Search for sections</b>
    <table>
    	<% form_tag(:action => "search") do %>
        <tr>
            <td>
                Section ID:
            </td>
            <td>
                <%= text_field_tag "section", "", :style=>"width: 150px;" %>
            </td>
        </tr>
		<tr>
			<td></td>
			<td>
				<%= submit_tag 'Search', :style=>"float:left;" %>
                <%= submit_tag 'Cancel', :style=>"float:left;" %>
			</td>
		</tr>
		<% end # form_tag %>
		<tr>
			<td colspan="3"><hr/></td>
		</tr>
        <% form_tag({:action => "search"}) do %>
        <tr>
            <td>
                Instructor ID:
            </td>
            <td>
                <%= text_field_tag "instructor_id", "", :style=>"width: 150px;" %>
            </td>
        </tr>
        <tr>
            <td>
                Term:
            </td>
            <td>
                <select id="term" name="term" style="width: 154px;">
                    <% for term in @terms %>
						<% if term.term_id == @current_term.term_id %>
							<option value="<%= term.term_id %>" selected><%= term.description %></option>
						<% else %>
							<option value="<%= term.term_id %>"><%= term.description %></option>
						<% end %>
                    <% end # for term %>
                </select>
            </td>
        </tr>
		<tr>
			<td></td>
			<td>
                <%= submit_tag 'Search', :style=>"float:left;" %>
                <%= submit_tag 'Cancel', :style=>"float:left;" %>
            </td>
		</tr>
		<% end # form_tag %>
    </table>
</div>
