<div class="contnt">
	<%= javascript_include_tag "field_watch.js" %>
    <h2>WARNING</h2>
    <span class="del_span">YOU ARE ABOUT TO PERMANENTLY DELETE</span>
    <br/>
    <span class="del_span">THE FOLLOWING PREP AREAS.</span>
    <br/>
    <br/>
    <% params[:rm_prep].each do |r| %>
    <%= r %>
    <br/>
    <% end %>
    <br/>
    Please confirm that you wish to delete
    <br/>
    these prep areas by typing 'delete' all
    <br/>
    in lower case below.
    <br/>
    <br/>
    <% form_tag(:action => "delete" ) do -%>
    <%= label_tag "del_confirm_field", "Confirm:" %>
    <%= text_field_tag "del_confirm_field", "", :onchange => "check_field(this.value);", :onkeyup => "check_field(this.value);" %>
	<% params[:rm_prep].each do |source_id| %>
		<%= hidden_field_tag "source_ids[]", source_id %>
	<% end %>
    <%= submit_tag "Confirm", :id => "confirm_btn", :disabled => true %>
	<%= submit_tag "Cancel" %>
    <% end %>
</div>
