<div id="add_rm_prep" class="contnt">
    <b>Create or Delete a Prep Area</b>
    <br/>
    Type a name for your Prep Area, then click the Add button. Prep
    <br/>
    Area names can be up to 35 characters long.  Use only letters,
    <br/>
    numbers, spaces, or hyphens.
    <br/>
    <% form_tag(:action => "create") do -%>
    <%= text_field_tag 'source_id' %>
    <%= submit_tag "Create" %>
    <% end -%>
	<%= @res %>
	<br/>
    <hr/>To remove a Prep Area, check one or more boxes
    <br/>
    in the Remove? column then click the Remove
    <br/>
    button. WARNING!  Removing a Prep Area will
    <br/>
    PERMANENTLY delete ALL of its data.
    <br/>
    <% form_tag(:action => "confirm") do -%>
    <%= submit_tag "Delete" %>
    <table class="output sortable">
        <thead>
            <tr>
                <th id="check_th" class="sorttable_nosort">
                    Delete?
                </th>
                <th id="sect_name">
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            <% @sections.each do |section| %>
            <tr>
                <td class="check_box">
                    <%= check_box_tag 'rm_prep[]', section.section_id, false, :class => "check" %>
                </td>
                <td>
                    <%= section.short_name %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
	<%= submit_tag "Delete" %>
    <% end -%>
</div>
