<div class="contnt">
  <h1>Listing for institution role <%= @institution_role.role_name %></h1>
    <% form_tag({:controller => "institution_role", :action => "user_index"}) do %>
    Find roles for user: <%= text_field_tag :user_id%>
    <%= submit_tag "Find Roles" %>
    <% end %>
    <%= link_to "Learn Certifified", :controller => "institution_roles", :action => "index", :role => "lrncrt" %> |
    <%= link_to "Administrator", :controller => "institution_roles", :action => "index", :role => "admin" %> |
    <%= link_to "ITSS", :controller => "institution_roles", :action => "index", :role => "itss" %> |
    <%= link_to "MLIB Staff", :controller => "institution_roles", :action => "index", :role => "mlib" %> |
    <%= link_to "TLP", :controller => "institution_roles", :action => "index", :role => "tlp" %> |
    <%= link_to "TLP Admin", :controller => "institution_roles", :action => "index", :role => "tlp_admin" %>
    <table class="output sortable">
        <tr>
            <th id="user_id">
                Portal
            </th>
            <th id="first">
                First name
            </th>
            <th id="last">
                Last name
            </th>            
        </tr>
        <% @users.each do |u| %>
        <tr>
            <td>
                <%= u.user_id %>
            </td>
            <td>
                <%= u.firstname %>
            </td>
            <td>
                <%= u.lastname %>
            </td>            
        </tr>
        <% end %>
      </table>
</div>

