<div class="contnt">
  <h1>Listing roles for <%= @user.firstname %> <%= @user.lastname %></h1>
    <% form_tag({:controller => "institution_roles", :action => "user_index"}) do %>
    Find roles for: <%= text_field_tag "user_id", params[:user_id] %>
    <%= submit_tag "Find Roles" %>
    <% end %>
    <table class="output sortable">
        <tr>
            <th id="role_id">
                Role
            </th>
            <th id="user_id">
                User Id
            </th>
            <th id="firstname">
                First Name
            </th>
            <th id="lastname">
                Last Name
            </th>
        </tr>
        <% @user.all_roles.each do |role| %>
        <tr>
            <td>
                <%= role.role_id %>
            </td>
            <td>
                <%= @user.user_id %>
            </td>
            <td>
                <%= @user.firstname %>
            </td>
            <td>
                <%= @user.lastname %>
            </td>
        </tr>
        <% end %>
    </table>
    <br/>
</div>
