<div class="contnt">
	Response: <%= @res %><br/>
	Course: <%= @course.short_name %><br/>
	Regular Section: <%= @regular.short_name %><br/>
	Future Section 1: <%= @future1.short_name %><br/>
	Future Section 2: <%= @future2.short_name %><br/>
</div>