  <div class="contnt">
  <b>Create Prep Area Sections</b>
  <% form_tag({:action => "add_prep"}) do -%>
	  <b>Enter in prep section name</b><br/>
    <%= "Preparea-#{session[:on_behalf_of]}-"%>
    <%= text_field_tag "course_id" %>
    <%= submit_tag "Add" %>
	  <%= submit_tag "Cancel" %>
	  <br/>
	  <%= @role%>
  <% end -%>
  </br>
	<% form_tag({:action => "remove"}) do -%>
    <table class="output sortable">
        <thead>
            <tr>
            	<th id="check_th" class="sorttable_nosort">
            </th>
                <th id="course_id">
                    Name
                </th>
                <th id="available_ind">
                    Available
                </th>
            </tr>
        </thead>
        <tbody>
            <% @prep_sections.each do |s|%>
            <tr>
            	<td class="check_box">
                    <%= radio_button_tag 'sections[]', s.pk1, false, :class => "check" %>
                </td>
                <td>
                    <%= s.course_id%>
                </td>
                <td>
                    <%= s.available_ind%>
<!--
                    <% if s.available_ind == 'Y'%>
                      <%= link_to "Make Unavailable",
                      :controller => "section", :action => "available",
                      :section_id => s.pk1 %>
                    <%else%>
                      <%= link_to "Make Available",
                      :controller => "section", :action => "available",
                      :section_id => s.pk1 %>
                    <%end%>
  -->
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
	<%= submit_tag "Remove" %>
	<%= submit_tag "Cancel" %>
	<% end -%>
</div>

