<div class="contnt">
    <b>Add a section to the cross-list <%= params[:sect_id] %>.</b>
    <br/>
    Please select a section below to add to <%= params[:sect_id] %>.
    <br/>
    <% form_tag({:action => "add_exec"}) do %>
	<%= hidden_field_tag "par_id", params[:sect_id] %>
		<table class="xlist_list">
			<tr>
				<th id="check_th" class="sorttable_nosort">
            		<%= check_box_tag('check_all', 'check_all', false, :onClick =>
                "$$('input.check').each(function(box){
      box.checked=(box.checked==false)?true:false});") %>
	  			</th>
				<th class="name">Section ID</th>
			</tr>
			<% for sect in @sections %>
			<tr>
				<td>
					<%= check_box_tag 'add_sect[]', sect.section_id, false, :class => "check" %>
				</td>
				<td>
					<%= sect.section_id %>
				</td>
			</tr>
			<% end %>
		</table>
		<%= submit_tag "Submit" %>
		<%= submit_tag "Cancel" %>
    <% end %>
</div>
