<div class="contnt">
    <b>Crosslisting</b>
    <br/>
    These are your sections. Any sections with children appearing under them
    <br/>
    are called cross-listed sections. These child sections are bundled together
    <br/>
    into a parent cross-list section that holds the class content for all the children.
    <br/>
    If you click create, the content in the selected section will be used in the crosslist
    <br/>
    parent for all children you add to the crosslist. You can only crosslist sections
    <br/>
	you are the instructor of record in.
	<br/>
    <br/>
    <b>These are your upcoming sections.</b>
    <br/>
    <% unless @future_sections.nil? or @future_sections.empty? %>
    <% for f_sect in @future_sections %>
    <% form_tag({:action => "section_mgmt"}) do %>
    <%= hidden_field_tag "sect_id", f_sect.section_id %>
    <%= hidden_field_tag "term_id", f_sect.term_id %>
    <table class="xlist_list">
        <thead>
            <tr>
                <th class="xlisting name" colspan="2">
                    <%= f_sect.short_name %>
                    <% if (@future_children[f_sect.section_id].nil?) or (@future_children[f_sect.section_id].empty?) %>
                    <br/>
                    <%= submit_tag("Create", :class => "button", :style=>"float:right") %>
                    <% else %>
                    <br/>
                    <%= submit_tag("Delete", :class => "button", :style => "float:right") %>
                    <%= submit_tag("Remove", :class => "button", :style => "float:right") %>
                    <%= submit_tag("Add", :class => "button", :style => "float:right") %>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody>
            <% unless (@future_children[f_sect.section_id].nil?) %>
            <% for f_child in @future_children[f_sect.section_id] %>
            <tr>
                <td>
                    &#187;&#187;&#187;
                </td>
                <td>
                    Child ID: <%= f_child.section_id %>
                </td>
            </tr>
            <% end # for each future child %>
            <% end # unless section has no children %>
        </tbody>
    </table>
    <br/>
    <% end # form_tag %>
    <% end # for each future sections %>
    <% end # unless future sections empty/nil %>
    <% unless params[:res].nil? %>
    <%= params[:res] %>
    <br/>
    <% end %>
    <br/>
    <br/>
    <b>These are your current sections.</b>
    <br/>
    If you need to make a change to one of these sections, please contact TLP.
    <br/>
    <% unless @sections.nil? or @sections.empty? %>
    <% for section in @sections %>
    <table class="xlist_list">
        <thead>
            <tr>
                <th class="xlisting name" colspan="2">
                    <%= section.section_id %>
                </th>
            </tr>
        </thead>
        <tbody>
            <% unless (@children[section.section_id].nil?) %>
            <% for child in @children[section.section_id] %>
            <tr>
                <td>
                    &#187;&#187;&#187;
                </td>
                <td>
                    Child ID: <%= child.section_id %>
                </td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
    <br/>
    <% end  # for section %>
    <% end # unless @sections.nil? %>
</div>
