<div class="contnt">
	<b>Turning Point Extract</b>
	<br/>
	Selecting one of the following sections will generate a participant list containing only
	<br/>
	students enrolled in that section, regardless of the cross-list status.
	<br/>
	<br/>
	Choose a term, then click on a section to generate the XML.
	<br/>
	<% if ([:tlp, :tlp_admin, :itss, :admin, :super].include?(session[:role])) %>
		<!-- Can admin users work as a different user? -->
	<% end # if role %>
	<% form_tag(:action => "index") do %>
		<%= label_tag 'selected_term', 'Term:' %>
		<select name="selected_term">
			<% @terms.each do |term| %>
				<% if term.term_id == @selected_term.term_id %>
					<option selected value="<%= term.term_id %>"><%= term.description %></option>
				<% else %>
					<option value="<%= term.term_id %>"><%= term.description %></option>
				<% end # if term%>
			<% end # for @terms %>
		</select>
		<%= submit_tag 'Refresh Section Listing' %>
	<% end # form %>
	<br/>
	<% link_url = url_for(:action => "generateXML") %>
	Sections:
	<table class="output clickable sortable">
		<tr>
			<th id="term">Term</th>
			<th id="sect_name">Section ID</th>
		</tr>
		<% for section in @no_xlist_sections %>
			<tr onClick="window.location='<%= link_url %>?source_id=<%= section.section_id %>'">
				<td><%= section.term_name %></td>
				<td><%= section.short_name %></td>
			</tr>
		<% end # for section %>
	</table>
	<br/>
	Combined Sections (Crosslists):
	<table class="output clickable sortable">
		<tr>
			<th id="term">Term</th>
			<th id="sect_name">Section ID</th>
		</tr>
		<% for section in @xlist_sections %>
			<tr onClick="window.location='<%= link_url %>?source_id=<%= section.section_id %>'">
				<td><%= section.term_name %></td>
				<td><%= section.short_name %></td>
			</tr>
		<% end # for section %>
	</table>
</div>