<div class="contnt">
<h1>Authorizations Control Panel</h1>
<h2>Authorizations with action "sidebar" adjust the sidebar view</h2>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<table class="output xlist">
  <tr>
    <th>Controller</th>
    <th>Action</th>
    <% @service_roles.each do |u_role| %>
      <th><%=u_role.name%></th>
    <%end%>
  </tr>
<% form_tag({:action => "update"}) do -%>
<% @ca_managements.each do |ca| %>
  <tr>
    <td><%=h ca.controller %></td>
    <td><%=h ca.action %></td>
    <% @service_roles.each do |role| %>
    <%logger.info "ROLE: "+ role.name%>
      <td><%=check_box(ca.full_title, role.name, {:default => false,
        :checked => role.allowed?(ca.controller,ca.action)}, true)%></td>
    <%end%>
  </tr>
<% end %>
</table>
<%=submit_tag "Update"%>
<% end -%>
</div>