<div class="contnt">
    <%= javascript_include_tag "filter.js" %>
    <% if @sections.empty? %>
	<br/>
    <b>You have no sections to migrate</b>
    <br/>
    Please create a prep area to be migrated.
    <br/>
    <br/>
  <% else %> 
	<br/>
    <b>Migrate Sections</b>
    <br/>
    Select the sections you wish to migrate below.
    <br/>
    <br/>
    <% form_tag :action => 'exec' do %>
    <table id="migrate_table" class="output sortable">
        <thead>
            <tr>
                <th id="check_th">
                    Status
                </th>
                <th id="term">
                    Term
                </th>
                <th id="sect_name">
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            <% for section in @sections %>
            <tr>
                <td>
                	<% if section.status.nil? %>
                    	<%= check_box_tag 'sections[]', section.section_id, false, :class => "check" %>
					<% else %>
						<%= section.status.capitalize %>
					<% end %>
                </td>
                <td>
                    <%= section.term_name %>
                </td>
                <td>
                    <%= section.short_name %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <%= submit_tag "Migrate" %>
	<% if flash[:error] %>
		<p class="error">Error: <%= flash[:error] %></p>
	<% end %>
    <% end %>
  <% end %>
</div>
