<div id="task_box">
  <ul id="left_nav">
    <li><%= link_to "Home", root_url%></li>
    <%if session[:user_object].allowed? "authorizations", "sidebar" %>
    <li><a href="#">Manage Authorizations</a>
      <ul>
        <%if session[:user_object].allowed? "authorizations", "index" %>
          <li><%= link_to "Authorizations", :controller => "authorizations", :action => "index" %></li>
        <%end%>  
        <%if session[:user_object].allowed? "ca_managements", "index" %>
          <li><%= link_to "Controllers/Actions", :controller => "ca_managements", :action => "index" %></li>
        <%end%>  
        <%if session[:user_object].allowed? "service_roles", "index" %>
          <li><%= link_to "Service Role Management", :controller => "service_roles", :action => "index" %></li>
        <%end%>
      </ul>
    <%end%>
    <%if session[:user_object].allowed? "enrollments", "sidebar" %>
    <li><a href="#">Manage Enrollments</a>
      <ul>
        <li><%= link_to "Course Instructors", section_roles_url(:enrollment => 'instructors') %></li>
        <li><%= link_to "Guest Instructors", section_roles_url(:enrollment => 'designers')%></li>
        <li><%= link_to "Teaching Assistants/Graders", section_roles_url(:enrollment => 'graders')%></li>
        <li><%= link_to "Students", section_roles_url(:enrollment => 'students') %></li>
        <li><%= link_to "Community Co-Leaders", :controller => "section_roles", :action => "comm_index", :enrollment => "Co-leaders" %></li>
        <li><%= link_to "Community Participants", :controller=>"section_roles", :action => "comm_index", :enrollment => "Participants"%></li>  
    </ul>
    </li>
    <%end%>
    <%if session[:user_object].allowed? "courses", "sidebar" %>
	  <li><a href="#">Manage Courses</a>
      <ul>
        <%if session[:user_object].allowed? "sections", "prep_index" %>
      	 <li><%= link_to "Create/Delete Prep Areas", :controller => "sections", :action => "prep_index",:prep => 'Prep'%></li>
        <%end%>
        <%if session[:user_object].allowed? "sections", "index" %>
      	 <li><%= link_to "Create/Delete Course", :controller => "sections", :action => "index" %></li>
        <%end%>
        <%if session[:user_object].allowed? "sections", "enable_index" %>
      	 <li><%= link_to "Enable Blackboard Learn Course", :controller => "sections", :action => "enable_index" %></li>
        <%end%>
        <%if session[:user_object].allowed? "sections", "reset_index" %>
        <li><%= link_to "Reset Course", :controller => "sections", :action => "reset_index" %></li>
        <%end%>
      </ul>
    </li>
    <%end%>
    <%if session[:user_object].allowed? "help_desk", "sidebar" %>
    <li><a href="#">Help Desk</a>
      <ul>
        <%if session[:user_object].allowed? "tlp_admin", "index" %>
          <li><%= link_to "Edit HTML/CSS", :controller => "tlp_admin", :action => "index" %></li>
        <%end%>

        <%if session[:user_object].allowed? "institution_roles", "index" %>
          <li><%= link_to "Institution Role Listings", :controller => "institution_roles", :action => "index", :role => "lrncrt" %></li>
        <%end%>
      </ul>
    </li>
    <%end%>
    <%if session[:user_object].allowed? "sso", "sidebar" %>
	   <li><%= link_to "Single Signon", :controller => "sso", :action => "index" %></li>
    <%end%>
    <%if session[:user_object].allowed? "logs", "sidebar" %>
      <li><%= link_to "View Logs", :controller => "logs", :action => "index" %></li>
    <%end%>
    <%if session[:user_object].allowed? "tpextract", "sidebar" %>
      <li><%= link_to 'TurningPoint Extract', :controller=>'tpextract', :action => "index" %></li>
    <%end%>
  </ul>
</div>

