<div id="task_box">
    <ul id="left_nav">
        <li>
            <%= link_to "Home", :controller => "selfservice", :action => "index" %>
        </li>
        <li>
            <a href="#">Manage Enrollments</a>
            <ul>
                <li>
                    <%= link_to "Guest Instructors", :controller => "section_role", :action => "index",
                    :enrollment => 'designers' %>
                </li>
                <li>
                    <%= link_to "Community Members", :controller => "section_role", :action => "index",
                    :enrollment => 'members' %>
                </li>
                <li>
                    <%= link_to "Students", :controller => "section_role", :action => "index",
                    :enrollment => 'students' %>
                </li>
            </ul>
        </li>
	    <li>
            <a href="#">Manage Sections</a>
            <ul>
                <li>
                    <%= link_to "Create/Delete Prep Areas", :controller => "prep_area", :action => "index" %>
                </li>
                <li>
                    <%= link_to "Hide/Show Sections", :controller => "visibility", :action => "index" %>
                </li>
				<li>
                    <%= link_to "Reset Sections", :controller => "reset", :action => "index" %>
                </li>
				<li>
                    <%= link_to "Crosslists", :controller => "crosslist", :action => "index" %>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Help Desk</a>
            <ul>
                <li>
                    <%= link_to "Edit HTML/CSS", :controller => "tlp_admin", :action => "index" %>
                </li>
				<li>
					<%= link_to "Admin Crosslisting", :controller => "admin_crosslist", :action => "index" %>
				</li>
                <li>
                    <%= link_to "Term Management", :controller => "terms", :action => "index" %>
                </li>
				<li>
					<%= link_to "Roles", :controller => "role", :action => "index" %>
				</li>
                <li>
                    <%= link_to "Single Signon", :controller => "sso", :action => "index" %>
                </li>
            </ul>
        </li>
        <li>
            <%= link_to 'TurningPoint Extract',
            :controller=>'tpextract', :action => "index" %>
        </li>
    </ul>
</div>

