<div id="task_box">
    <ul id="left_nav">
        <li>
            <%= link_to "Home", :controller => "selfservice", :action => "index" %>
        </li>
        <% if [:super, :admin].include?(session[:role]) %>
        	<li>
            	<%= link_to "Roles", :controller => "role", :action => "index" %>
        	</li>
        <% end %>
        <li>
            <%= link_to "Migrate", :controller => "migration", :action => "index" %>
        </li>
        <li>
            <a href="#">Manage Enrollments</a>
            <ul>
                <li>
                    <%= link_to "Guest Instructors", :controller => "section_role", :action => "index",
                    :enrollment => 'designers' %>
                </li>
                <li>
                    <%= link_to "Community Members", :controller => "section_role", :action => "index",
                    :enrollment => 'members' %>
                </li>
                <li>
                    <%= link_to "Students", :controller => "section_role", :action => "index",
                    :enrollment => 'students' %>
                </li>
            </ul>
        </li>
    </ul>
</div>

