<div id="chico_img" class="span-2">
    <%= link_to(image_tag("csuc-signature.jpg"), "http://www.csuchico.edu/") %>
</div>
<% if ([:super, :admin, :tlp_admin, :tlp].include?(session[:role])) %>
	<% unless (params[:controller] == "sso") %>
		<div id="act_as_div" class="last">
    		<% form_tag({:controller => "selfservice", :action => "act_as"}) do -%>
    			Act on behalf of: <%= text_field_tag "act_as", session[:on_behalf_of] %>
    			<%= submit_tag "Change" %>
    		<% end %><!-- end form_tag do -->
		</div>
		<br/>
	<% end %>
<% end %>
<div id="user_table" class="last">
    <table>
        <tr>
        	<% if ([:super].include?(session[:role])) %>
            	<td>
                	Your Portal ID:
            	</td>
            	<td class="odd">
                	<%= session[:user] %>
            	</td>
			<% else %>
				<td></td><td></td>
			<% end %>
            <td>
                <%= link_to("Logout", url_for(:controller => "application", :action => "logout"), 
					:confirm => "Are you sure you want to log out?") %>
            </td>
        </tr>
        <% if (session[:user]!=session[:on_behalf_of]) %>
			<% unless (params[:controller] == "sso") %>
        		<tr>
            		<td colspan="2">
                		Currently acting on behalf of:
            		</td>
            		<td class="odd">
                		<%= session[:on_behalf_of] %>
            		</td>
        		</tr>
        	<% end # unless params controller %>
		<% end # if session user %>
    </table>
</div>
