<div class="contnt">
    <%= javascript_include_tag "field_watch.js" %>
    <% form_tag({:action => "add"}) do -%>
	<%= hidden_field_tag "source_id", params[:source_id] %>
    <b>Enter a user's Portal ID to add them as a community member.</b>
    <br/>
    <span style="font-weight:bold; font-size:x-large;"><%= "Section: "+@section.short_name %></span>
    <br/>
    <%= text_field_tag "portal_id" %>
    <%= submit_tag "Add" %>
    <%= submit_tag "Cancel" %>
	<% end %>
    <br/>
    <b>Or, to add multiple members, upload a CSV file below.</b>
    <br/>
    Please limit the number of users you add to less than 100 members for each use of the tool.
    <br/>
    <% form_tag({:action => "add"}, :multipart => true, :method => "post") do %>
    <%= hidden_field_tag "source_id", params[:source_id] %>
    <%= label_tag 'member_list', 'Member List CSV:' %>
    <%= file_field_tag 'member_list' %>
    <%= submit_tag 'Add' %>
    <%= submit_tag 'Cancel' %>
    <% end %>
    <%= @res %>
    <br/>
    <hr/><b>Remove Community Members</b>
    <% form_tag(:action => "remove") do -%>
    <%= hidden_field_tag "source_id", params[:source_id] %>
    <table class="output sortable">
        <thead>
            <tr>
                <th id="check_th" class="sorttable_nosort">
                    <%= check_box_tag('check_all', 'check_all', false, :onClick =>
                    "$$('input.check').each(function(box){
                    box.checked=(box.checked==false)?true:false});") %>
                </th>
                <th id="full_name">
                    Name
                </th>
                <th id="user_id">
                    Portal ID
                </th>
                <th id="email">
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <% for member in @members %>
            <tr>
                <td class="check_box">
                    <%= check_box_tag 'rm_member[]', member.webct_id, false, :class => "check" %>
                </td>
                <td>
                    <%= member.first_name + " " + member.last_name %>
                </td>
                <td>
                    <%= member.webct_id %>
                </td>
                <td>
                    <%= member.email %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <%= submit_tag "Remove" %>
    <%= submit_tag "Cancel" %>
    <% if (@members.length > 100) %>
    Total Members: <%= @members.length %>
    <% end # if @members %>
    <% end -%>
</div>
